<!DOCTYPE HTML>
<html>
<head>
    <title>MINJI SHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Boot Strap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- JQery는 BootStrap.js와 일반적으로 사용할 때도 필요하므로 상단에서 가장 먼저 호출했다.-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body>

    <div class="container">

    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
        </ul>
        <a href="/"><h3 class="text-muted">MINJI SHOP</h3></a>
    </div>